<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/studentInfoStyle.css" />
    <title>CS易办：让事更容易办</title>
    <link rel="stylesheet" href="/static/css/headerStyle.css">
</head>
<body>
<div th:replace="~{fragments/teacherHeader::header}"></div>
<div class="container">
    <h1>个人信息</h1>
    <div class="info" th:object="${teacherInfo}">
        <div class="info-item">
            <strong>编号:</strong> <span th:text="*{teacher_id}"></span>
        </div>
        <div class="info-item">
            <strong>学院:</strong> <span th:text="${deptName}"></span>
        </div>
        <div class="info-item">
            <strong>姓名:</strong> <span th:text="*{name}"></span>
        </div>
    </div>
</div>
</body>
</html>

</html>