<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{static/css/headerStyle.css}"/>
</head>
<body>
<div th:fragment="header">
    <img alt="Example Image" th:id="topBanner" th:src="@{/static/images/topbanner.jpg}"/><br>
    <div class="headerContainer">
        <div class="dropdown">
            <button class="dropBtn">请假</button>
            <div class="dropdown_content">
                <a th:href="@{/teacher/absentRequest}">审批缺课请假</a>
                <a th:href="@{/teacher/leaveRequest}">审批离校申请</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropBtn">公告</button>
            <div class="dropdown_content">
<!--                <a th:href="@{/teacher/notice}">过往公告</a>-->
                <a th:href="@{/teacher/launch}">发布公告</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropBtn">我的</button>
            <div class="dropdown_content">
                <a th:href="@{/teacher/info}">个人信息</a>
                <a th:href="@{/logout}">登出</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
